<div class="BigTitle">
	<h2>關於我們</h2>
	<hr>		
</div>
<div style="padding-right: 100px;padding-left: 100px">
	如網站導覽所述，我們是一群對台灣的未來感到憂心忡忡的社會人士和學生，希望藉由這個平台來鼓勵理性討論，並為台灣找出路。因為資源有限，也由於參與網站建置的成員多是經驗還不是很完備的大學生，所以如果您有專長可以為我們提供協助或有任何意見歡迎來信，讓我們攜手一起為台灣的未來貢獻心力，謝謝!  
</div>
<br>
<div style="padding-right: 100px;padding-left: 100px" >
	天平共筆小組 敬上 
	<br>
	balnote99@gmail.com
</div>