<div class="BigTitle">
	<h2>關於我們</h2>
	<hr>		
</div>
<div style="padding-right: 100px;padding-left: 100px">
	如網站導覽所述，我們是一群對台灣的未來感到憂心忡忡的社會人士和學生，希望藉由這個平台來鼓勵理性討論，並為台灣找出路。因為資源有限，也由於參與網站建置的成員多是經驗還不是很完備的大學生，所以如果您有專長可以為我們提供協助或有任何意見歡迎來信，讓我們攜手一起為台灣的未來貢獻心力，謝謝!  
</div>
<br>
<div style="padding-right: 100px;padding-left: 100px" >
	天平共筆小組 敬上 
	<br>
	balnote99@gmail.com
</div>
<br><br><br>
<div class="BigTitle">
	<h2>網站導覽</h2>
	<hr>		
</div>
<div style="padding-right: 100px;padding-left: 100px">
	近來民粹盛行，盛行到台灣窒礙難行! 雖然社群網站的新興促進了資訊的流通，但因其討論方式的侷限也造成"同溫層"、"後真相"等負面效應而進一步推升了民粹。然而，台灣已經不可能回到專制的時代了(因為那會帶來更巨大的災難)，所以我們認為讓各式各樣的議題都能得到公平、充分的討論，並紀錄、監督政治人物的一言一行是享受民主的果實並避免其弊端的最佳方式，所以我們設計了這個平台。
	<br><br>
	每個議題打開後都能看到正反雙方最被認同的幾個意見，網站不會告訴您誰是誰非，但我們相信當您充分理解雙方的論述後您會自成定見。您可以對您贊同的意見按讚，越多人按讚的意見會越容易被看見。此外，很多事實的揭露是延遲的，我們會定期把新意見電郵給您，您可以隨時回來網站更改您贊同的意見，所以這個正反意見的呈現是流動的，我們希望它漸次流向真理。您也可以新增議題，新增意見；前者會經過審查(只是為了挑出最辯得出所以然的字句)，後者一定要附上資料來源(我們不歡迎使用者隨意留下的情緒性評論)，所以您是網站的閱聽者也是網站的貢獻者。
	<br><br>
	在名人頁面中，經過大家的分工合作，會逐漸累積出每位檯面上人物對各個議題的態度，您可以輕易地檢索、排序，這在選舉前將相當有助於選賢與能。不諱言，我們這個設計是出自對政客換位置就換腦袋的深惡痛絕，我們認為很多政治人物只為勝選卻不顧台灣長遠發展是台灣這幾年牛步化的最大元兇。凡走過必留下痕跡，而這些痕跡透過我們的平台會更容易被檢視和監督。
	<br><br>
	當我們在看電視辯論時常看到候選人互相攻訐對方的弱點，卻也閃躲自己的弱點，這種失焦的雞同鴨講也是現今媒體在討論議題時常有的盲點。所以我們將這些有著正反意見的議題再進一步組合成議題樹，您可以像在讀一本章節分明的書一樣，很快地掌握一些相關議題的來龍去脈。而最重要的是，講A的時候就講A, 講B的時候就講B, 誰都不能閃躲。我們有自信這樣才能辨出真理，而這樣也才是最好的議題懶人包。
	<br><br>
	最後，我們要控訴現在媒體的亂象，很多媒體都帶著特定立場、特定顏色，對同一個事件兩家報紙可能有完全不同立場的報導，逼得有些人為了掌握事情的全貌只好一天讀好幾份報紙，而這也是我們當初創立此平台的動機之一。在首頁的媒體平衡報導得分中，我們鼓勵媒體能夠善盡平衡報導的天職。
	<br><br>
	以上這些努力雖然猶如螳螂擋車，但我們仍希望能聚沙成塔、眾志成城。台灣是我們及下一代在汪洋中賴以為生的小船，期待您的參與，讓她遠颺!! 
	<br><br>
</div>
<br>
<div style="padding-right: 100px;padding-left: 100px" >
	天平共筆小組 敬上 
	<br>
	balnote99@gmail.com
</div>