<div class = "container">
	<div class = "row">
		<div class = "col-md-4">
			<table class = "table table-bordered">
				<thead>
					<tr align = "center">
						<td class = "col-md-4">
							最新議題
						</td>
					</tr>
				</thead>
				<tbody>
					<% @issues.where(parent_id: -1).order(:updated_at).each do |issue| %>
						<tr>
							<td>
								<%= issue.content %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
			
		<div class = "col-md-offset-2 col-md-6">
			<table class = "table table-bordered">
				<thead>
					<tr align = "center">
						<td class = "col-md-6" colspan = "2">
							熱門語錄
						</td>
					</tr>
					<tr align = "center">
						<td class = "col-md-2">
							名人
						</td>
						<td class = "col-md-4">
							語錄
						</td>
					</tr>
				</thead>
				<tbody>
					<% @issues.order(:count).each do |issue| %>
					<% @pointers.where(issue_id: issue.id).each do |pointer| %>
					<% @persons.where(id: pointer.person_id).each do |person| %>
					<% @contents.where(id: pointer.content_id).each do |content| %>
						<tr>
							<td>
								<%= person.name %>
							</td>
							<td>
								<%= content.text %>
							</td>
						</tr>
					<% end %>
					<% end %>
					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
