<% 

def getContry(res)
	require 'json'
	data = JSON.parse(res)
	if data["status"] == "success"
		return data["country"]	
	else
		return data["status"]
	end
	
end
%>
<div>
	<%= getContry(@result) %>
</div>