<div class="BigTitle">
	<h2>網管頁面</h2>
	<h3>點選以下頁面進入其他功能</h3>
	<hr>
	<h2><a href="<%=reportlist_all_path%>">意見檢舉頁面</a></h2>
	<h2><a href="<%=manager_people_path%>">名人控管頁面</a></h2>
	<h2><a href="<%=manager_media_path%>">媒體控管頁面</a></h2>
	<h2><a href="<%=manager_other_path%>">其他功能頁面</a></h2>
</div>