<!DOCTYPE html>
<html>
    <head>
        <title>PNWEB</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <!-- For moblie --> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script src="/js/jquery-ui.js"></script>
        <script src="/js/Tree/TreeClass.js"></script>
        <script src="/js/Tree/EditingTree.js"></script>
        <script src="/js/Tree/json2.js"></script>
        <script src="/js/queryIssue.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/css/query.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/Tree/TreeCanvas.css">
    </head>
    <body>
        <div class="MenuBox">
            <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            </svg>
        </div>
        <% if current_user != nil %>
            <% if current_user.id == @id || current_user.level == 3 %>
                <ul id="ListAddNode" class="custom-menu">
                    <li index="0" class="textArea">新增下一層議題</li>
                    <li index="1" class="textArea">新增同一層議題</li>
                    <li index="2" class="textArea">上移</li>
                    <li index="3" class="textArea">下移</li>
                    <li index="4" class="textArea">刪除</li>
                    <li index="5" class="textArea">儲存</li> 
                </ul>
            <% end %>
        <% end %>
        
        <!-- 全黑使用 -->
        <div class="blackAddItemDiv" style="background-color: rgba(0, 0, 0, 0); display: none;"></div>
        <div class="AddItemDiv" style="display: none;">
            <span class="glyphicon glyphicon-remove"></span>
            <div>
                新增樹狀的 Node：
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="請輸入議題" name="IssueName" id="queryIssue">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <div id="queryIssueDiv" class="queryDiv" style="width: 220px; display: none;"></div>
        </div>
    </body>
</html>
