<!DOCTYPE html>
<html>
    <head>
        <title>PNWEB</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <!-- For moblie --> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="/css/Tree/index.css">
    </head>
    <body>
        <div class="LeftCanvas">
            <div class="TreeList">
                <div class="BoxSpace">
                    <!-- 被選到時，會有 Border -->
                    <div class="BoxSelectBorder">
                    </div>
                        
                    <!-- 文字框框 -->
                    <div class="BoxText>
                    </div>
                </div>
            </div>
        </div>
        
        <iframe class="RightCanvas" src="/TreeCanvas" frameBorder="0"></iframe>
    </body>
</html>
