<link rel="stylesheet" type="text/css" href="/css/user/wait.css">
<div class="BigTitle">
    <h2>登入頁面</h2>
    <hr>
</div>
<div class="container">
    <div class="jumbotron" style="margin-bottom: 0px; padding-bottom: 40px; margin-top: 100px;">
        <div class="LeftPeople">
            <img src="/images/user/WaitLeft.png" width="30%">
        </div>
        
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <form action="<%= login_verify_path %>" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                    <label>信箱</label>
                    <input type="text" class="form-control" name="email" required="true">
                    <br>

                    <label>密碼</label>
                    <input type="password" class="form-control" name="password" required="true">
                    <br>
                    
                    <div style="text-align:center; margin-top: 10px;">
                        <input type="submit" class="btn btn-primary" style="width: 150px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
