<!--<br><br><br><%= @ans %>-->
<div class = "container">
	<ul class = "nav nav-tabs">
		<li class = "active"><a>Data_issue</a></li>
		<li><a>Data_person</a></li>
		<li><a>Data_content</a></li>
		<li><a>Data_pointer</a></li>
	</ul>
</div>