.LeftCanvas
{
    position: fixed;
    left: 0px;
    width: 30%;
    height: 100%;
    background-color: rgb(242, 238, 228);
    border-right: 2px;
    border-right-style: solid;
    border-right-color: #878787;
}
.RightCanvas
{
    position: fixed;
    right: 0px;
    width: 70%;
    height: 100%;
}