.AddNodeButton
{
    position: relative;
    right: -200px;
    top: 20px;
}
.LeftCanvas
{
    position: fixed;
    left: 0px;
    width: 350px;
    height: 100%;
    background-color: rgb(242, 238, 228);
    border-right: 2px solid #878787;
}
.RightCanvas
{
    position: fixed;
    right: 0px;
    width: calc(100% - 350px);
    height: 100%;
}
.TreeList
{
    position: relative;
    top: 120px;
    height: calc(100% - 120px);
    box-sizing: border-box;
    border-top: 2px solid #06ACF9;
    overflow-y: scroll;
}
.BoxSpace
{
    position: relative;
    height: 120px;
    background-color: rgb(242, 238, 228);
}
.BoxSpace:hover
{
    background-color: #06ACF9;
}
.BoxSelectBorder
{
    position: absolute;
    width: 100%;
    height: 120px;
    border: 3px solid #06ACF9;
}
.BoxText
{
    position: absolute;
    left: 20px;
    right: 20px;
    top: 10px;
    bottom: 15px;
    font-size: 16px;
    
    /* 字超過了，會自動不見 */
    overflow: hidden;
    
    /*橫向超過了，會自動換行 */
    word-wrap: break-word;
}
.BoxTitle
{
    width: 75%;
    font-size: 20px;
    overflow: hidden;
    /* 把超過的東西，變成...，底下那行則是不能換行 */
    text-overflow:ellipsis;
    white-space:nowrap;
}
.BoxThumbUp
{
    position: absolute;
    left: 75%;
    top: 0px;
}
.BoxPeople
{
    position: absolute;
    left: 65%;
    top: 30px;
    font-size: 16px;
}
.BoxContent
{
    position: relative;
    top: 5px;
    width: 60%;
    font-size: 16px;
}
.BoxOtherInfo
{
    position: absolute;
    left: 65%;
    top: 55px;
    
    width: 35%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
/*
視窗大小通知的視窗
*/
.WindowSizeWarning
{
    position: fixed;
    /* 要筆 boostrap 的 fixed top 還高 */
    z-index: 2002;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.WindowSizeWarning div
{
    padding: 5px 30px;
    position: absolute;
    width:  400px;
    height:  200px;
    left: calc(50% - 200px);
    top: calc(50% - 100px);
    border-radius: 5px;
    background-color: #84A3FF;
    font-family: "微軟正黑體";
    color: white;
}
.WindowSizeWarning div h3
{
    text-align: center;
}
.WindowSizeWarning div button
{
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    bottom: 20px;
}
/*
加 Root 的視窗
*/
.AddRoot
{
    position: fixed;
    /* 要筆 boostrap 的 fixed top 還高 */
    z-index: 2001;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.AddRootBox
{
    position: absolute;
    border-radius: 5px;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
    width: 500px;
    height: 400px;
    padding: 10px;
    background-color: #84A3FF;
    font-family: "微軟正黑體";
    
}
.AddRootBox .glyphicon-remove
{
    position: absolute;
    right: 20px;
    top: 20px;
}
.AddRootBox .input-group
{
    position: relative;
    top: 50px;
    left: 50px;
    width: 400px;
}
.AddRootBox .queryDiv
{
    top: 94px;
    left: 60px;
}
.AddRootBox span:hover
{
    cursor: pointer;
}
.AddRootTitle 
{
    position: absolute;
    top: -20px;
    left 50px;
}
.TreeOrderByList
{
    position: absolute;
    top: 20px;
    left: 5px;
}