.headTop
{
    background-color: rgb(243, 243, 243);
    border-color: rgb(243, 243, 243);
    top: -30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.headLogo
{
    padding-top: 30px;
    color: rgb(160, 216, 255) !important;
    font-family: font;
    font-size: 48px;
}
.headLink
{
    bottom: -20px;
    font-family: font;
    font-size: 24px;
    color: rgb(160, 216, 255) !important;
}
.BigTitle
{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}
.BigTitle h2
{
    color: rgb(160, 216, 255);
    font-family: font;
    font-size: 48px;
}
.BigTitle hr
{
    border-width: 8px;
}

@font-face
{
    font-family: font;
    src: url('/podf.otf');
}
