.queryDiv
{
    position: absolute;
    display: block;
    margin-right: 15px;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background: white;
}
.queryDiv div
{
    padding: 10px;
}
.queryDiv div:hover
{
    background-color: rgb(240, 240, 240);
}
.queryDiv div:link
{
    background-color: white;
}