table tr td:nth-child(even)
{
    background-color: rgb(14 , 97, 174);
    color: white;
}
table tr td a
{
	color: rgb(20, 20, 20);
}
.border-back
{
    /*margin-left: 5px;
    margin-right: 5px;*/
    padding-left: 30px;
    padding-right: 0px;
    /*background-color: rgb(14, 97, 174);*/ 
}
.border-right
{
    margin-left: 30px;
}