
.table-blue thead{
	background-color: rgb(14 , 97, 174);
}
.table-blue tr:nth-child(even)
{
    background-color: rgb(135 , 206, 235);
    /*color: white;*/
}
.table-blue tr a
{
	color: rgb(20, 20, 20);
}
.border-back
{
    padding-left: 30px;
    padding-right: 0px;
}
.border-right
{
    margin-left: 30px;
}