table tr td:nth-child(even)
{
    background-color: rgb(14 , 97, 174);
    color: white;
}
table tr td a
{
	color: rgb(20, 20, 20);
}
.border-back
{
    padding-left: 30px;
    padding-right: 0px;
}
.border-right
{
    margin-left: 30px;
}