<script src="/js/queryPeople.js"></script>
<link rel="stylesheet" type="text/css" href="/css/query.css">
<link rel="stylesheet" type="text/css" href="/css/user/form.css">

<div class="BigTitle">
    <h2>新增議論</h2>
    <hr>
</div>
<% if current_user.nil? %>
	錯誤：請確認你是否有登入
<% else %>
	<div class >
		<div class = "container">
			<div class = "jumbotron">
				<div class = "row">
					<form action= "<%= detaillist_new_path %> " method= "post">
						<div class = "form-group" style="position: relative;">
							
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="issue_id" value="<%= @issue.id %>">
							<label>論述*</label>
							<input type="text" class="form-control" name="content" required="true" >
							<br>
                            
							<label>名人</label>
							<input type="text" class="form-control" name="people_id" id="queryPeople" >
                            <div id="queryPeopleDiv" class="queryDiv" style="display: none;">
                            </div>
							<br>
                            
							<label>當時頭銜</label>
							<input type="text" class="form-control" name="title_at_that_time" >
							<br>
                            
							<label>Is supported</label>
							<input type="checkbox" class="form-control" name="is_support">
							<br>
                            
							<label>是否為直接意見</label>
							<input type="checkbox" class="form-control" name="is_direct">
							<br>
                            
							<label>報導媒體</label>
							<input type="text" class="form-control" name="news_media" >
							<br>

                            <label>報導時間</label>
                            <input type="date" class="form-control" name="report_at" required="true">
                            <br>

							<label>報導連結</label>
							<input type="text" class="form-control" name="link" >
							<br>
                            
							<div>
								<input type = "submit" class = "btn btn-primary" style = "width: 150px;">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<% end %>
