<div class="BigTitle">
    <h2>新增議論</h2>
    <hr>
</div>
<% if current_user.nil? %>
	error please verify you self
<% else %>
	<div class >
		<div class = "container">
			<div class = "jumbotron">
				<div class = "row">
					<form action= "<%= detaillist_new_path %> " method= "post">
						<div class = "form-group">
							
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="issue_id" value="<%= @issue.id %>">
							<label>論述*</label>
							<input type="text" class="form-control" name="content" required="true" >
							<br>
							<label>名人</label>
							<input type="text" class="form-control" name="people_id" >
							<br>
							<label>當時頭銜</label>
							<input type="text" class="form-control" name="title_at_that_time" >
							<br>
							<label>Is supported</label>
							<input type="checkbox" class="form-control" name="is_support">
							<br>
							<label>是否為直接意見</label>
							<input type="checkbox" class="form-control" name="is_direct">
							<br>
							<label>News Media</label>
							<input type="text" class="form-control" name="news_media" >
							<br>
							<label>Reported Time</label>
							<input type="text" class="form-control" name="report_at" >
							<br>
							<label>News Link</label>
							<input type="text" class="form-control" name="link" >
							<br>
							<div>
								<input type = "submit" class = "btn btn-primary" style = "width: 150px;">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<% end %>
