.FormTop
{
    background-color: rgb(160, 216 ,255);
    border-radius: 500px 500px 0px 0px;
    padding:  30px;
}
.FormInside
{
    background-color: rgb(160, 216, 255);
}
.FormBottom
{
    background-color: rgb(160, 216 ,255);
    border-radius: 0px 0px 500px 500px;
    padding:  30px;
}
.RightPeople
{
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.RightPeople img
{
    position: fixed;
    width: 31%;
    right: 0px;
    bottom: 0px;
}