.FormTop
{
    background-color: rgb(160, 216 ,255);
    border-radius: 500px 500px 0px 0px;
    padding:  30px;
}
.FormInside
{
    background-color: rgb(160, 216, 255);
}
.FormBottom
{
    background-color: rgb(160, 216 ,255);
    border-radius: 0px 0px 500px 500px;
    padding:  30px;
}
.RightPeople
{
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.RightPeople img
{
    position: fixed;
    width: 31%;
    right: 0px;
    bottom: 0px;
}
/* 
給 issuelist/add 使用
*/
.LeftPeople img
{
    position: fixed;
    width: 650px;
    left: 0px;
    bottom: 0px;
}
/*
給 query 的用
*/
.queryDiv
{
    position: absolute;
    display: block;
    font-size: 14px;
    width: 95%;
    border-radius: 4px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    background: white;
}
.queryDiv div
{
    padding: 10px;
}