<link rel="stylesheet" type="text/css" href="/css/table.css">
<div class="BigTitle">
    <h2>所有候選議題</h2>
    <hr>
</div>
<div align = "center" class = "whiteText">
	<div class = "col-md-offset-2 col-md-8 ">
		<table class = "table table-bordered">
			<thead>
				<tr align = "center">
					<td colspan = "4">所有候選議題</td>
				</tr>
				<tr><td>標題</td><td>父議題</td><td>票數</td><td>創間時間</td><td>升為正式議題</td></tr>
			</thead>
			<tbody>
				<% @issues.each do |issue| %>
					<tr>
						<td>
								<%= issue.title %>
						</td>
						<td><%= issue.thumb_up.split(',').length %></td>
						<td>
							<% if issue.thumb_up.include?(current_user.id.to_s)%>
								You have already love me...
							<% else %>
								<% link = issuelist_thumb_up_path + "?id=" + issue.id.to_s %>
								<%= link_to "投票",link,method: :post%>
							<% end %>
							
						</td>
						<td>
							<% if true%>
								<% link = issuelist_upgrade_path + "?id=" + issue.id.to_s %>
								<%= link_to "升級",link,method: :post%>
							<% else %>
								限管理員使用
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>