<script src="/js/user/reCaptcha.js"></script>
<script src="/js/user/register_form.js"></script>
<link rel="stylesheet" type="text/css" href="/css/user/form.css">

<div class="container-fluid">
    <div class="row">    
        <div class="col-md-8" style="padding-right: 0px;">
            
            <!-- Top 要剝一層 CSS -->
            <div class="FormTop">
            </div>
            
            <!-- 中間的內容 -->
            <div class="FormInside">
                <form action="<%= register_success_path %>" method="post">
                    <div class="form-group" style="margin: 0px;">
                        <!-- 左半部的內容 -->
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <input type="hidden" name="token" value="<%= @token %>">

                                <label>信箱</label>
                                <input type="text" class="form-control" name="email" value="<%= @email %>" required="true" readonly="readonly">
                                <br>

                                <label>密碼 (最少６個字)</label>
                                <input type="password" class="form-control" name="password" required="true">
                                <br>

                                <label>確認密碼</label>
                                <input type="password" class="form-control" name="password_confirm" required="true">
                                <br>

                                <label>性別</label> <br>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="sex" value="male" id="male">男生</font>
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="sex" value="female" id="female">女生
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="sex" value="other" id="other">其他
                                </label>
                                <br>
                                <br>
                            </div>

                            <!-- 右半部的內容 -->
                            <div class="col-md-4">
                                 <label>暱稱</label>
                                <input type="text" class="form-control" name="nickname" required="true">
                                <br>

                                <label>出生年月日</label>
                                <input type="date" class="form-control" name="date" required="true">
                                <br>

                                <label>居住地</label>
                                <select class="form-control" name="liveplace">
                                    <option value="1">台灣</option>
                                    <option value="2">大陸</option>
                                    <option value="3">新加坡</option>
                                    <option value="4">馬來西亞</option>
                                    <option value="5">泰國</option>
                                    <option value="6">越南</option>
                                    <option value="7">巴西</option>
                                    <option value="8">阿根廷</option>
                                    <option value="9">美國</option>
                                    <option value="10">英國</option>
                                </select>
                                <br>
                                <br>

                                <!-- Google 驗證機制，確定 Callback Function 不會再 google api 載入後，在載入，所以最後加上 async defer -->                        
                                <label>驗證</label>
                                <div id="verify_Human"></div>
                                <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
                                <br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <!-- 底下的內容 -->
            <div class="FormBottom">
                <div style="text-align:center;">
                    <input type="submit" class="btn btn-primary" style="width: 150px;">
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-left: 0px;">
            <img src="/images/user/People.png" height="500px">
        </div>
    </div>
</div>
