<script src="/js/user/registerEmail.js"></script>
<div class="BigTitle">
    <h2>使用者規範</h2>
    <hr>
</div>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-7">
                <div style="height: 300px; overflow: auto;">
                    使用者於本站註冊即代表同意遵守下列所有項目，不同意者不得註冊。 <br><br>

                    一、「天平共筆」為公共議題討論的園地，以促進公共議題的理性及充分討論為最高宗旨。<br><br>
                    二、不得發表違反著作權之內容，若需引用他人文章或圖片，必需註明出處並取得必要之許可。<br><br>
                    三、若有發現違反本站宗旨或偏離主題的言論，站內管理人員有權不經事先告知直接對您的發言做編修或刪除。<br><br>
                    四、發文者必須自行遵守相關法規並承擔責任，本站無義務為使用者過濾發文內容或負擔法律責任。發言時必需尊重他人，不得發表毀謗他人、人身攻擊、族群歧視、政治敏感、蓄意挑釁及任何違反法律或善良風俗及之言論。<br><br>
                    五、您的文章可能透過本站被其他網站引用，或由站方摘要部分文字及照片至外站作為推廣之用。<br><br>
                    七、本站管理人員有權基於個人主觀判斷進行版面管理，包括修改、編輯、移動、刪除等，對管理人員的處置有所疑義時，請直接向本站管理員反應，使用者於公開版面中討論站務管理問題將視同離題文章處理之。<br><br>
                    八、經本站管理員認定不遵守本站規定或不適應站內文化者，本站管理員有權做出刪除帳號或禁止發表等必要處分。<br><br>
                    九、未經當事人同意不得公佈他人隱私資料於本站,例如姓名,地址,電話等.任何不利於他人之言論與指涉,無論是否屬實,發文者須自負法律責任.<br><br>
                    十、本守則得由本站管理員隨時增訂編修，即刻生效並朔及既往，不同意新條文者須於三日內自行刪除於本站內發表之文章。<br><br>
                    十一、使用者於本站註冊即代表同意遵守本守則中所有項目，若不同意者不得註冊。<br><br>
                </div>
                <div style="text-align: center;">
                    <input type="checkbox" id="ReadRule" name="readrule" value="Read">我已閱讀，並且同意遵守「天平共筆」的規則。<br>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <h3 style="text-align: center;">請輸入信箱，發送驗證碼</h3>
                <br>
                <% # 驗證表單 %>
                <form action="<%= register_send_email_path %>" method="post">
                    <div class="form-group" style="text-align: center;">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <img src="/images/user/Email.png" width="100px"><br><br>
                        <!--<span class="glyphicon glyphicon-envelope" style="font-size: 150px; text-align: center;" aria-hidden="true"></span>-->
                        <input type="email" class="form-control" name="email"><br>
                        <button type="submit" id="submitToSendEmail" class="btn btn-primary" style="width: 200px;" disabled>發送驗證信</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>