<form action="<%= register_form_path %>" method="post" name="redirect_form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="token" value="<%= params[:token] %>">
    <input type="hidden" name="email" value="<%= params[:email] %>">
</form>
<script type="text/javascript">
    setTimeout(
        function(){
            document.redirect_form.submit()
        }, 1500);
</script>