<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h4 style="text-align: center;">已經寄信去 <%= @email %> <br>請去信件收信</h4>
            </div>
        </div>
    </div>
</div>