<nav class = "navbar navbar-inverse navbar-fixed-top" role = "navigation">
  <div class = "container">

    <!-- Header -->
    <div class = "navbar-header">
      <%= link_to "正反網頁 Version 1.0", "/", class: "navbar-brand" %>
    </div>


    <!-- 中間入數測試 -->
    <!--<form class = "navbar-form navbar-left" role = "search">
      <div class = "form-group">
        <input type = "text" class = "form-control" placeholder = "搜尋測試">
      </div>
    </form>


    <!-- 其他項目 -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "管理者頁面", dataitems_path %></li>
        <li><%= link_to("登入", '#') %></li>
      </ul>
    </div>
  </div>
</nav>
