<link rel="stylesheet" type="text/css" href="/css/table.css">
<div class="BigTitle">
    <h2>檢舉頁面</h2>
    <hr>
</div>
<% if @me.nil? %>
	<div class = "whiteText">
		錯誤的連結位置
	</div>
<% elsif current_user.nil? %>
	<div class = "whiteText">
		錯誤：請確認你是否有登入
	</div>
<% else %>
	<!-- show detail data-->
	<div class = "whiteText row">
		<div class = "col-md-offset-1 col-md-10 row">
			<div align = "right">
				<% link = reportlist_accept_path + "?id=" + @me.id.to_s + "&detail_id=" + @detail.id.to_s + "&issue_id=" + @issue.id.to_s %>
				<%= link_to "接受",link,method: :post%>
				<% link = reportlist_reject_path + "?id=" + @me.id.to_s + "&detail_id=" + @detail.id.to_s + "&issue_id=" + @issue.id.to_s %>
				<%= link_to "駁回",link,method: :post%>
			</div>
			<table class = "table table-bordered">
				<thead>
					<tr align = "center" >
						<td style="width: 300px" >論述</td>
						<td>原因</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width: 300px" >
							<% link = detaillist_index_path(id: @detail.id) %>
							<a href = <%= link %>>
								<% if @detail.content.split(',').include?('6') %>
									<%= @detail.content %>
									<% else %>
									test
								<% end %>
							</a>
						</td>
						<td>
							<% if @me.cause.split(',').include?('1') %>
								<div>原始文章的截圖不符合規定,</div>
							<% end %>
							<% if @me.cause.split(',').include?('2') %>
								<div>根本不是這篇文章,</div>
							<% end %>
							<% if @me.cause.split(',').include?('3') %>
								<div>不完整,</div>
							<% end %>
							<% if @me.cause.split(',').include?('4') %>
								<div>沒有標題,</div>
							<% end %>
							<% if @me.cause.split(',').include?('5') %>
								<div>主文沒有全部擷取,</div>
							<% end %>
							<% if @me.cause.split(',').include?('6') %>
								<div>原始文章中沒有這段話,</div>
							<% end %>
							<% if @me.cause.split(',').include?('7') %>
								<div>原始文章沒提到作者有講這段話,</div>
							<% end %>
							<% if @me.cause.split(',').include?('8') %>
								<div>原始文章中提到的被編者局部改寫了,</div>
							<% end %>
							<% if @me.cause.split(',').include?('9') %>
								<div>原始文章中提到的作者講的這段話，應該被歸於贊成／反對的另一邊,</div>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<% end %>